/*

Its the normal checkbox button.
"/switch.css" also uses a checkbox. so be careful and don't forget
to use the class "checkbox-normal".

if it isn't specified specified. A normal checkbbox will appear.

It only exists for the pro version in the current version.

Please consult yann for more information regarding its creation
/**************************************************************************

                FOR THE CHECKBOX YOU CAN COPY THAT LINE

            <input class="checkbox-normal" type="checkbox" id="bla">
            <label class="checkbox-normal">lorem</label>

    The id is necessery in order to tick the correct parameters.
    each checkbox needs its own id to be recognized, never forget that.            
                    
**************************************************************************/
input.checkbox-normal[type="checkbox"]
{
    -webkit-appearance: none;
    appearance: none;
    margin: 5px;

    display: grid;
    place-content: center;

    font: inherit;
    color: rgb(var(--color-gray-2));
    width: 1.5em;
    height: 1.5em;
    border: 1px solid rgb(var(--color-gray-2));
    border-radius: 0.15em;
}

input.checkbox[type="checkbox"]::before
{
    content: "";
    width: 1.5em;
    height: 1.5em;
    transform: scale(0);
    transition: 120ms ease-in-out;
}

input.checkbox[type="checkbox"]:checked::before
{
    transform: scale(0.7);
    transition: 120ms ease-in-out;
    background-color: rgb(var(--color-blue-primary));
    border-radius: 0.15em;
}

input.checkbox[type="checkbox"].pro:checked::before {
    background-color: rgb(var(--color-purple-primary));
}


/**************************************************************************

            FOR THE RADIO BUTTON VERSION YOU CAN COPY THAT LINE

        <input class="checkbox-normal" type="radio" id="tezt" name="test">
        <label class="checkbox-normal" for="tezt">gougou</label>

    
    Don't forget use the type radio, even though the class is currently
    called "checkbox-normal".

    Name is really important to make the radio button works properly.
    If it isn't specified, it will work like a checkbox which can't be
    unticked.

    Id works the same way
    The id is necessery in order to tick the correct parameters.
    each checkbox needs its own id to be recognized, never forget that.  

**************************************************************************/

input[type="radio"]
{
    -webkit-appearance: none;
    appearance: none;
    margin: 5px;

    display: grid;
    place-content: center;

    font: inherit;
    color: rgb(var(--color-gray-2));
    width: 1.5em;
    height: 1.5em;
    border: 1px solid rgb(var(--color-gray-2));
    border-radius: 1em;
}

input[type="radio"]::before 
{
    content: "";
    width: 1.5em;
    height: 1.5em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
}

input[type="radio"]:checked::before
{
    transform: scale(0.7);
    background-color: rgb(var(--color-purple-primary));
    border-radius: 1em;
}


label.checkbox
{
    display: flex;
    align-items: center;
}