#contain-log{
    width: 500px;
    margin: auto;
    margin-top: 20%;
}

.head-1{
    font-family: var(--font-title);
    font-size: var(--typescale-u5);
    font-weight: 600;
    margin-bottom: 10%;
    text-align: center;
}

@media only screen and (max-width: 768px){
    #contain-log{
        width: 350px;
        margin-top: 40%;
    }
}

