.cardContent button:hover {
    background: rgba(0, 0, 0, 0.8);
}

.cardContent button {
    pointer-events: auto;
    background: #007BFF;
    border: none;
    color: white;
    font-size: 1.5rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.cardContent button:hover {
    transform: scale(1.1);
    background: #0056b3;
}

.home-category-title {
    font-family: var(--font-title);
    font-size: var(--typescale-u3);
    text-decoration: underline rgb(var(--color-orange-secondary));
}

.homeDisplay{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 25px;
}

.home-card .enLigne {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 5px;
}

.home-card .enLigneGap{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 20px;
}

.home-card .opposeLigne {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.home-card {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0 .3rem;
    background-color: white;
    border: 1px solid #E1E1E1;
    border-radius: 12px;
    height: 426px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.home-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.home-card .cardContent{
    padding: 0 20px 5px 10px;
}

.home-card img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}


.home-card p{
    font-family: var(--font-text);
    font-size: 0.8em;
    margin: 7px 0;
    color: rgb(var(--color-gray-4));
}

.home-card h1{
    font-family: var(--font-title);
    font-size: 1em;
    font-weight: 600;
    margin: 5px 0 5px 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.home-card .name{
    text-decoration: underline;
}

.home-card .summary {
    font-family: var(--font-text);
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.home-card .price{
    background-color: rgb(var(--color-blue-light));
    border-radius: 10px 0 10px 0;
    padding: 4px 14px;
    position: absolute;
    right: 0;
    bottom:0;
    max-width: 140px;
}

.home-card .price-text{
    color: black;
}

/*Rotating Text*/

.rotating-text-container {
    display: inline-flex;
    flex-direction: column;
    height: 2.5rem;
    overflow: hidden;
}

.rotating-text-container span {
    height: 2.3rem;
    color: rgb(var(--color-blue-light));
    animation: moveUp 10s linear infinite;
}

@keyframes moveUp {
    0% {
        transform: translateY(0);
    }

    5% {
        transform: translateY(0);
    }

    15% {
        transform: translateY(-2.3rem);
    }

    25% {
        transform: translateY(-2.3rem);
    }

    35% {
        transform: translateY(-4.6rem);
    }

    45% {
        transform: translateY(-4.6rem);
    }

    55% {
        transform: translateY(-6.9rem);
    }

    65% {
        transform: translateY(-6.9rem);
    }

    75% {
        transform: translateY(-9.2rem);
    }

    95% {
        transform: translateY(-9.2rem);
    }

    100% {
        transform: translateY(0);
    }
}