/* Redesign */

.navbar {
    background: rgba(var(--color-white), 0.4);
    backdrop-filter: blur(10px);
    border-bottom-color: rgba(var(--color-white), 0.2);
    position: fixed;
}

header {
    height: 80vh;
    overflow: hidden;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}
header::after {
    content: "";
    width: 100%;
    height: 40%;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: block;
    position: absolute;

    background: linear-gradient(180deg, rgba(var(--color-white), 0) 0%, rgba(var(--color-white), 100%) 100%);
}

#background {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
}

header div {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}

.title {
    font-size: var(--typescale-u6);
    font-weight: 700;
    font-family: var(--font-title);
    /*text-align: center;*/
    color: black;
    display: flex;
    margin-bottom: 1rem;
}

.title-slide-container {
    /*width: fit-content;*/
    display: flex;
    flex-direction: column;
    height: calc(var(--typescale-u6) + 1rem);
    overflow: hidden;
    margin-left: .8rem;
}

.title-slides {
    position: relative;
    min-width: 100px;
}

.title-slides > span {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%);
    display: flex;
}

/* Search button */
header button {
    width: 2.8rem !important;
}

/* Section */

section {
    min-height: 60vh;
    padding: 0 20%;
}

.recently-consulted-carousel {
    position: relative;
}

/* --------------------------- */
/* Card                        */
/* --------------------------- */

.home-card {
    padding: 0 .5rem;
    display: flex;
    flex-direction: column;
    transition: transform .2s cubic-bezier(.14,.81,.72,.8);
}

.home-card:hover {
    transform: translateY(-4px);
}

/* Make other card opacity down when another card is hovered */
.home-card:hover ~ .home-card {
    opacity: 0.5 !important;
}

/* Card image */
.home-card .image-container {
    width: 100%;
    height: 200px;
    border-radius: 20px;
    /*overflow: hidden;*/
    margin-bottom: 1rem;
    position: relative;
    transition: transform .2s cubic-bezier(.14,.81,.72,.8);
}

.home-card .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;

    transition: box-shadow .2s;
}
.home-card .image-container .image-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 95%;
    filter: blur(0px);
    z-index: -1;

    transition: filter .3s;
}
.home-card:hover .image-container .image-bg {
    filter: blur(10px);
    animation: pop .2s cubic-bezier(.08,.88,.67,.65);
}
.home-card:hover .image-container img {
    box-shadow: 0 0 0 2px rgba(var(--color-white), 1);
}
.home-card:hover .image-container {
    transform: scale(1.03);
}

/* pop animation for blur image */
@keyframes pop {
    0% {
        transform: scale(1);
        transform: translate(-50%, -50%);
    }
    50% {
        transform: scale(1.1);
        transform: translate(-50%, -50%);
    }
    100% {
        transform: scale(1);
        transform: translate(-50%, -50%);
    }
}

/* Content */

.home-card h2 {
    font-family: var(--font-title);
    font-size: var(--typescale-u1);
    margin-bottom: .6rem;
    font-weight: 600;
    line-height: 120%;
}

.home-card .summary {
    margin-bottom: .3rem;
    /* 3 lines max */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -moz-box-lines: 3;
}

/* Blur bottom of the image */
.home-card .image-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background: linear-gradient(180deg, rgba(var(--color-black), 0) 0%, rgba(var(--color-black), .6) 100%);
    border-radius: 0 0 20px 20px;
    z-index: 1;
}

.home-card .localization {
    position: absolute;
    bottom: .8rem;
    left: 1rem;
    font-weight: 700;
    color: rgb(var(--color-white));
    z-index: 2;
}

.home-card .stars-container {
    position: absolute;
    bottom: .8rem;
    right: 1rem;
    z-index: 2;
}

/* Other stuff */

.home-category-title {
    font-family: var(--font-title);
    font-size: var(--typescale-u4);
    font-weight: 500;
}

.home-display{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 2rem;
}

/* Discover section */
.discover {
    width: 100%;
    height: 80vh;
    position: relative;
    margin: 8rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.discover .discover-background {
    width: 80vw;
    height: 200%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.circle-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle-center svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
}

/* Cities Circle */
.cities {
    position: relative;
    width: 80%;
    height: 90%;
}
.cities .city-card {
    width: 200px;
    height: 100px;
    position: absolute;
    transform-origin: center;
    transform: translate(-50%, -50%);
}
.cities .city-card:hover .front {
    box-shadow: 0 0 0 2px rgba(var(--color-white), 1);
}

.city-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.city-card .front {
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: 4;
    transition: box-shadow .2s;
    border-radius: 20px;
}
.city-card .background {
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(0px);
    z-index: -1;
    transition: filter .3s;
}
.city-card:hover .background {
    filter: blur(5px);
}


.city-card p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: var(--typescale-u1);
    font-family: var(--font-title);
    font-weight: 600;
    color: rgb(var(--color-white));
    white-space: nowrap;
}
