.home-card .enLigne {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 5px;
}

.home-card .enLigneGap{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 20px;
}

.home-card .opposeLigne {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.home-card {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 20px;
    background-color: white;
    border: 1px solid #E1E1E1;
    border-radius: 12px;
    width: 301px;
    height: 426px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.home-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.home-card .cardContent{
    padding: 0 20px 5px 10px;
}

.home-card img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}


.home-card p{
    font-family: var(--font-text);
    font-size: 0.8em;
    margin: 7px 0;
    color: var(--color-gray-4);
}

.home-card h1{
    font-family: var(--font-title);
    font-size: 1em;
    font-weight: 600;
    margin: 10px 0 10px 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.home-card .name{
    text-decoration: underline;
}

.home-card .summary {
    font-family: var(--font-text);
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.home-card .price{
    background-color: rgb(var(--color-blue-light));
    border-radius: 15px;
    padding: 1px 8px;
}

.home-card .price-text{
    color: black;
}
