@import url("dashboard/offers.css");
@import url("dashboard/avis.css");

.profile-up
{
    display: flex;
    gap: 1rem;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
}

.profile-up-bandeau
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: .8rem 2rem;
    outline: none;
    font-size: inherit;
    font-weight: 500;
}

.profile-name h1 {
    margin-bottom: 1rem;
}

.profile-stats
{
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 0.5rem;
    font-size: var(--typescale-base);
}
/*
.profile-up-bandeau-bloc
{
    width: 70%;
}
*/

.profile-page-pic
{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

x-tab
{
    width: 100%;
    text-align: center;
}

x-tab[selected][id="offres"]
{
    border-bottom: none;
    border: 1px solid rgb(var(--color-blue-primary));
    background-color: rgb(var(--color-blue-primary));
    border-radius: 100rem 0 0 100rem;
    color: rgb(var(--color-white));
}

x-tab[id="offres"]
{
    border-bottom: none;
    border: 1px solid rgb(var(--color-gray-1));
    border-radius:  100rem 0 0 100rem;
}

x-tab[selected][id="reponses"]
{
    border-bottom: none;
    border: 1px solid rgb(var(--color-blue-primary));
    background-color: rgb(var(--color-blue-primary));
    color: rgb(var(--color-white));
    border-radius: 0 100rem 100rem 0;
}

x-tab[id="reponses"]
{
    border-bottom: none;
    border: 1px solid rgb(var(--color-gray-1));
    border-radius: 0 100rem 100rem 0;
}

.opinions-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.opinions-container .opinion-card {
    border-bottom: 1px solid rgb(var(--color-gray-1));
    padding-bottom: 1rem;
}
.opinions-container .opinion-card:last-child {
    border-bottom: none;
}

@media only screen and (max-width: 728px) {
    .opinions-container {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .opinions-container {
        width: 80%;
    }
}

@media only screen and (min-width: 1440px) {
    .opinions-container {
        width: 70%;
    }
}