@import url("dashboard/offers.css");

.profile-up
{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.profile-up-bandeau
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: .8rem 2rem;
    outline: none;
    font-size: inherit;
    font-weight: 500;
}

/*
.profile-up-bandeau-bloc
{
    width: 70%;
}
*/

.profile-page-pic
{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

x-tab
{
    width: 100%;
    text-align: center;
}

x-tab[selected][id="offres"]
{
    border-bottom: none;
    border: 1px solid rgb(var(--color-blue-primary));
    background-color: rgb(var(--color-blue-primary));
    border-radius: 100rem 0 0 100rem;
    color: rgb(var(--color-white));
}

x-tab[id="offres"]
{
    border-bottom: none;
    border: 1px solid rgb(var(--color-gray-1));
    border-radius: 100rem 0 0 100rem;
}

x-tab[selected][id="reponses"]
{
    border-bottom: none;
    border: 1px solid rgb(var(--color-blue-primary));
    background-color: rgb(var(--color-blue-primary));
    color: rgb(var(--color-white));
    border-radius: 0 100rem 100rem 0;
}

x-tab[id="reponses"]
{
    border-bottom: none;
    border: 1px solid rgb(var(--color-gray-1));
    border-radius: 0 100rem 100rem 0;
}