
x-tab[selected][id="public"]
{
    border-bottom: none;
    border: 1px solid rgb(var(--color-blue-primary));
    background-color: rgb(var(--color-blue-primary));
    border-radius: 100rem 0 0 100rem;
    color: rgb(var(--color-white));
}

x-tab[id="public"]
{
    border-bottom: none;
    border: 1px solid rgb(var(--color-gray-1));
    border-radius:  100rem 0 0 100rem;
    padding: 10px 32px;
}

x-tab[selected][id="prive"]
{
    border-bottom: none;
    border: 1px solid rgb(var(--color-blue-primary));
    background-color: rgb(var(--color-blue-primary));
    color: rgb(var(--color-white));
    border-radius: 0 100rem 100rem 0;
}

x-tab[id="prive"]
{
    border-bottom: none;
    border: 1px solid rgb(var(--color-gray-1));
    border-radius: 0 100rem 100rem 0;
    padding: 10px 32px;
}

px-16{
    padding-left: 6rem;
    padding-right: 6rem;
}

p-4{
    padding: 1rem;
}



@media screen and (max-width: 992px){
    x-tabs{
        width: 530px;
    }
}

@media screen and (max-width: 768px){
    .form-page{
        margin: 0 2%;
    }

    x-tabs{
        width: 100%;
    }

    x-tab[id="prive"]{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .on-same-line{
        flex-direction: column;
        gap: 0.5rem;
    }
}
