
x-tab[selected][id="public"]
{
    border-bottom: none;
    border: 1px solid rgb(var(--color-blue-primary));
    background-color: rgb(var(--color-blue-primary));
    border-radius: 100rem 0 0 100rem;
    color: rgb(var(--color-white));
}

x-tab[id="public"]
{
    border-bottom: none;
    border: 1px solid rgb(var(--color-gray-1));
    border-radius:  100rem 0 0 100rem;
    padding: 10px 32px;
}

x-tab[selected][id="prive"]
{
    border-bottom: none;
    border: 1px solid rgb(var(--color-blue-primary));
    background-color: rgb(var(--color-blue-primary));
    color: rgb(var(--color-white));
    border-radius: 0 100rem 100rem 0;
}

x-tab[id="prive"]
{
    border-bottom: none;
    border: 1px solid rgb(var(--color-gray-1));
    border-radius: 0 100rem 100rem 0;
    padding: 10px 32px;
}

px-16{
    padding-left: 4rem;
    padding-right: 4rem;
}

.password-requirements{
    color: rgb(var(--color-gray-4));
    margin-left: 5px;
}


.password-requirements ul {
    list-style-type: none;
    padding: 0;
    margin-top: 5px;
}

.password-requirements li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    font-size: 14px;
}


.password-requirements .icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
}


.password-requirements .valid .icon {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iI2I0ZTA3YSIgY2xhc3M9ImJpIGJpLWNvbnRlbnQiIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTEyIDJjNS41IDAgMTAgNC41IDEwIDEwcy00LjUgMTAtMTAgMTAtMTAtNC41LTEwLTEwUzYuNSAyIDEyIDJ6bTAgMmMtNC40MiAwLTggMy41OC04IDhzMy41OCA4IDggOCA4LTMuNTggOC04LTMuNTgtOC04LTd6bTQgNS43TDkuNyAxNC40Yy0uMjYuMjUtLjYxLjI1LS44NiAwbC0zLjItMy4yYy0uMzMtLjMyLS4zNS0uODUtLjA1LTEuMjEuMzUtLjM1Ljg5LS4zNSAxLjIxLjAxbDIuNzMgMi43MyAyLjcyLTIuNzJjLjMzLS4zNS44Ny0uMzguMTItLjAxbDMuMiAzLjJjLjMyLjM1LjMyLjktLjAyIDEuMjR6Ij48L3BhdGg+PC9zdmc+');
}

.password-requirements .invalid .icon {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iI2I0YjRiNCIgY2xhc3M9ImJpIGJpLWNvbnRlbnQiIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTExLjYyIDIybC01LjIxLTUuMjFjLS4zNC0uMzQtLjM0LS44OSAwLTEuMjNsNS4yMS01LjIxYy4zNC0uMzQuODktLjM0IDEuMjMgMGw1LjIxIDUuMjFjLjM0LjM0LjM0Ljg5IDAgMS4yM2wtNS4yMSA1LjIxYy0uMzQuMzQtLjg5LjM0LTEuMjMgMHoiPjwvcGF0aD48L3N2Zz4=');
}

.password-requirements .valid {
    color: rgb(var(--color-success));
    transition: color 0.3s ease;
}

.password-requirements .invalid {
    color: rgb(var(--color-gray-4));
    transition: color 0.3s ease;
}


@media screen and (max-width: 992px){
    x-tabs{
        width: 530px;
    }
}

@media screen and (max-width: 768px){
    .form-page{
        margin: 0 2%;
    }

    x-tabs{
        width: 400px;
    }

    .on-same-line{
        flex-direction: column;
        gap: 0.5rem;
    }
}
