.vertical-list {
    display: flex;
    flex-direction: column;
}

.vertical-list > a {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(var(--color-gray-1));
}

.vertical-list > a:last-child {
    border-bottom: none;
}

.horizontal-scroll {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
}

.horizontal-scroll > div {
    flex: 0 0 auto;
    scroll-snap-align: start;
}