/*Premier bloc*/

.offer-card-header{
    display: flex;
    align-items: center;
}

.title{
    font-size: 1.5rem;
}

.badge{
    border-radius: 5rem ;
    margin-left: 5rem;
    height: 1.5rem;
        background-color: rgb(var(--color-blue-secondary));
}

.image{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
}

/* bloc 2 */

.buttons{
    margin-left: 2vw;
}

.card-body{
     width: 30rem;
 }

.offer-card {
    display: flex;
    margin-left: 5rem;
}

.image-container{
    margin-right: 1rem;
}

.location{
    color: rgb(var(--color-gray-4));
}

.border-bottom{
     border-bottom: 2px solid rgb(var(--color-gray-1));
     padding-bottom: 1rem;
     margin-bottom: 1rem;
    color: rgb(var(--color-gray-4));
}

.date{
    color: rgb(var(--color-gray-4));
}


