.mainContainer{
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
}

/*Premier bloc*/

.bloc{
    display: flex;
}

.imgContainer{
    margin-right: 3vw;
}

.image{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
}

.description{
    width: 40vw;
}

.titleType{
    display: flex;
}

.offersType{
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 14px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    height: 2vh;
}

h1 {
    font-size: 20px;
    color: #333;
}

.borderBottom{
    border-bottom: 2px solid black;
    padding-bottom: 1.5vh;
    margin-bottom: 1.5vh;
}

/* bloc 2 */

.buttons{
    margin-left: 2vw;
}



.offer-card {

}
