@import "variables.css";
@import "reset.css";

@import "parts/navbar.css";
@import "parts/footer.css";
@import "parts/loader.css";
@import "parts/alert.css";
@import "parts/tabs.css";
@import "parts/link.css";
@import "parts/table.css";
@import "parts/image-upload.css";
@import "parts/badge.css";

@import "form/form.css";
@import "form/button.css";
@import "form/option.css";
@import "form/checkbox-normal.css";
@import "form/section-header.css";
@import "form/switch.css";
@import "form/input.css";

/* Import fonts */
@import "fonts/satoshi.css";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    outline: none;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: 100vh;

    font-family: var(--font-text);
    font-size: 16px;
    color: rgb(var(--color-black));

    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

.heading-1 {
    font-family: var(--font-title);
    font-size: var(--typescale-u4);
    font-weight: 600;
}

.heading-2 {
    font-family: var(--font-text);
    font-size: 1.25em;
    font-weight: bold;
}

.heading-3 {
    font-family: var(--font-text);
    font-size: 1em;
    font-weight: 500;
}

.font-title {
    font-family: var(--font-title);
}

.hidden {
    display: none;
}

.opacity-0 {
    opacity: 0;
}

.height-top {
    top: 0;
    display: block;
}

.dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: rgb(var(--color-gray-2));
    display: inline-block;
}

.underline {
    width: fit-content;
    position: relative;
    text-decoration-line: none !important;
}
.underline::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgb(var(--color-gray-2));
}

/* Container */
.main-container {
    width: 100%;
    min-height: 70vh;
    display: block;
    position: relative;
    padding: 2rem 20%;
    margin: 2rem 0;
}

@media only screen and (max-width: 728px) {
    .main-container {
        padding: 0 20px;
    }
}


@media only screen and (min-width: 768px) {
    .main-container {
        padding: 0 15%;
    }
}

@media only screen and (min-width: 1440px) {
    .main-container {
        padding: 0 20%;
    }
}


.hidden-anim {
    animation: to-hidden 10s forwards;
}

@keyframes to-hidden {
    0% {
        opacity : 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.pro-name {
    padding: 1rem 2rem;
    border: 1px solid rgba(var(--color-purple-primary), .1);
    border-radius: var(--radius-small);
    margin-bottom: 1rem;
}

/* Waves */
.waves {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.waves svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.waves path {
    width: 100vw;
}

.waves .orange {
    top: 100px;
}

@tailwind components;
@tailwind utilities;