.inlineOfferGap {
    display: flex; /*Use flex to display in row*/
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px; /* Space between items */
    margin: 5px; /* Margin around the container */
}

.inlineOffer {
    display: flex; /*Use flex to display in row*/
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 5px; /* Space between items */
}

.inlineOfferTop {
    display: flex; /*Use flex to display in row*/
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%; /* Full width of the container */
    justify-content: space-between; /* Space out items evenly */
}

.containerAcordeon {
    display: flex; /*Use flex to display in row*/
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%; /* Full width of the container */
    gap: 5px; /* Space between items */
}

.columnOffer {
    display: flex; /*Use flex to display in column*/
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px; /* Space between items */
    font-weight: 550; /* Set font weight */
}

.paddingOfferDetailed {
    display: flex; /*Use flex to display in column*/
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start; /* Align items to the start of the container */
    gap: 30px; /* Space between items */
}

x-acordeon {
    width: 100%; /* Full width of the container */
}

.acordeonSize {
    width: 100%; /* Full width of the container */
}

.publication {
    display: flex; /*Use flex to display in row*/
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px; /* Space between items */
    justify-content: flex-end; /* Align items to the end of the container */
}

.author {
    text-decoration: underline; /* Underline the text */
}

.offer-closed {
    color: red;
}
.offer-closing-soon {
    color: orange;
}
.offer-open {
    color: green;
}
