
/* Option button for select and autocomplete input */

.option {
    padding: .8rem 1.5rem .8rem .5rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    text-align: left;
    cursor: pointer;

    color: rgb(var(--color-black));

    border: none;
}

.option:hover {
    background-color: rgba(var(--color-gray-1), .5);
}

.option.selected {
    background-color: rgb(var(--color-gray-1));
}

.option .check {
    order: -1;
    width: 1rem;
    display: block;
}

.option .check svg {
    width: 1rem;
    height: 1rem;
}

.option:not(:has(.check)) {
    padding-left: 1.5rem;
}