
/* Options container */
div[slot="list"],
div[slot="options"] {
    width: 100%;
    top: calc(100% + 1rem);
    left: 0;
    position: absolute;
    border: 1px solid rgb(var(--color-gray-2));
    border-radius: var(--radius-small);
    background: white;
    z-index: 100;
    overflow: hidden;
    display:flex;
    flex-direction: column;
    pointer-events: none;
    opacity: 0;
    transform: translateY(-.5rem);
    transition: opacity .1s, transform .1s;
}

div[slot="list"].open,
div[slot="options"].open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

div[slot="list"].fake-hidden {
    min-height: 2rem;
    animation: loading 1s infinite;
}

@keyframes loading {
    0% {
        background-color: rgb(var(--color-gray-1));
    }
    100% {
        background-color: rgba(var(--color-white));
    }
}

/* Option button for select and autocomplete input */

.option {
    padding: .8rem 1.5rem .8rem .5rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    text-align: left;
    cursor: pointer;

    color: rgb(var(--color-black));

    border: none;
}

.option:hover {
    background-color: rgba(var(--color-gray-1), .5);
}

.option.selected {
    background-color: rgb(var(--color-gray-1));
}

.option .check {
    order: -1;
    width: 1rem;
    display: block;
}

.option .check svg {
    width: 1rem;
    height: 1rem;
}

.option:not(:has(.check)) {
    padding-left: 1.5rem;
}