/*

    Nothing complicated here. It corresponds to the section Header
    on the figma

    It was made by yann so please consult him if you have any questions 
    regarding its creation.

*/

.section-header
{
    margin-bottom: 20px;
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    border-bottom: 1px solid rgb(var(--color-gray-2));
    font-size: var(--typescale-u1);
}

  
/* Pour Mobile 
@media (max-width: 599px) {
truc {

}
}

/* Pour Tablettes 
@media (min-width: 600px) and (max-width: 899px) {
truc {

}
}
*/

/* Pour petits Laptops 
@media (min-width: 900px) and (max-width: 1199px) {
truc {

}
}
*/
  