
.loader {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 100000;

    background: white;
}

.loader svg {
    color: rgb(var(--color-blue-primary));
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}
