#logo {
    height: 64px;
}

.navbar {
    padding: 8px;
    position: fixed;
    top: 0;
    z-index: 1001;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    border-bottom: 1px solid rgb(var(--color-gray-1));

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.navbar .nav-burger {
    width: 30px;
    height: 22px;
    position: relative;
    z-index: 1002;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
}

.nav-burger span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: black;
    border-radius: 3px;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    top: calc(var(--i) * 10px);
}

.navbar .nav-burger span:nth-child(1) {
    --i: 0;
}

.navbar .nav-burger span:nth-child(2),
.navbar .nav-burger span:nth-child(3) {
    --i: 1;
}

.navbar .nav-burger span:nth-child(4) {
    --i: 2;
}

.navbar .nav-burger.open span:nth-child(1) {
    top: 10px;
    width: 0%;
    left: 50%;
}

.navbar .nav-burger.open span:nth-child(2) {
    transform: rotate(45deg);
}

.navbar .nav-burger.open span:nth-child(3) {
    transform: rotate(-45deg);
}

.navbar .nav-burger.open span:nth-child(4) {
    top: 10px;
    width: 0%;
    left: 50%;
}

#menu {
    position: fixed;
    top: 0;
    left: 105%;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 1000;
    transition: left 0.5s ease;
    padding: 50px;
    box-sizing: border-box;
}

#menu.menu-visible {
    left: 0;
}

#menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

#menu ul li {
    margin: 20px 0;
}

#menu ul li a {
    text-decoration: none;
    color: black;
    font-size: 24px;
    text-align: center;
    display: block;
}

.menu-hidden {
    left: -100%;
}

.navbar-left,
.navbar-right {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

.navbar-right {
    gap: 2rem;
}

.navbarLoginButtons{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

@media only screen and (max-width: 768px) {
    .navbar {
        padding: 0 20px !important;
    }

    .navbar .row>.button {
        display: none;
    }

    .navbarLoginButtons{
        display: none;
    }
}

@media only screen and (max-width: 1440px) {
    .navbar {
        padding: 0 15%;
    }
}

@media only screen and (min-width: 1440px) {
    .navbar {
        padding: 0 20%;
    }

    .navbar .nav-burger {
        display: none;
    }
}

/* Notifications */
.notification-container{
    width: fit-content;
    padding: .8rem 1rem;
    position: absolute;
    overflow: hidden;
    bottom: 0;
    transform: translateY(calc(100%)) translateX(-75%);
    border-radius: var(--radius-small);
    border: 1px solid rgb(var(--color-gray-1));
    background: white;
    pointer-events: none;
    opacity: 0;
    z-index: 0;

    transition: opacity .2s ease, transform .2s ease;
}

.notification-container.open{
    opacity: 1;
    pointer-events: auto;
    transform: translateY(calc(100% + .5rem)) translateX(-75%);
}

.notification .notification-container a {
    width: 100%;
    padding: .8rem 1rem;

    background-color: white;
    border-bottom: 1px solid rgb(var(--color-gray-1));

    display: flex;
    align-items: center;
    gap: 2rem;

    transition: background-color .2s ease;
}

.notification .notification-icon{
    cursor: pointer;
    display: flex;
    align-content: center;
    gap: 1rem;
}

.hidden{
    display: none;
}

/* Avatar */
.professional-mode .navbar .avatar .image-container:hover {
    box-shadow: 0 0 0 2px rgba(var(--color-purple-primary), .5);
}

/* Avatar option */
.avatar .avatar-options {
    width: fit-content;
    position: absolute;
    overflow: hidden;
    bottom: 0;
    transform: translateY(calc(100%)) translateX(-75%);
    border-radius: var(--radius-small);
    border: 1px solid rgb(var(--color-gray-1));
    background: white;
    pointer-events: none;
    opacity: 0;
    z-index: 1000;

    transition: opacity .2s ease, transform .2s ease;
}

/* Chevron */
.avatar .avatar-options::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-left: 1px solid rgb(var(--color-gray-1));
    border-top: 1px solid rgb(var(--color-gray-1));
    background: white;
    border-radius: 2px;
    top: 0;
    right: calc(45px / 2 - 10px / 2);
    z-index: -1;
    transform: translateY(-50%) rotate(45deg);
}

.avatar-options.open {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(calc(100% + .5rem)) translateX(-75%);
}

.avatar .avatar-options a {
    width: 100%;
    padding: .8rem 1rem;

    background-color: white;
    border-bottom: 1px solid rgb(var(--color-gray-1));

    display: flex;
    align-items: center;
    gap: 2rem;

    transition: background-color .2s ease;
}

.avatar .avatar-options a:hover {
    background-color: rgba(var(--color-blue-primary), .1);
}

.professional-mode .avatar .avatar-options a:hover {
    background-color: rgba(var(--color-purple-primary), .1);
}

.avatar .avatar-options a:first-child {
    border-radius: var(--radius-small) var(--radius-small) 0 0;
}

.avatar .avatar-options a:last-child {
    border-radius: 0 0 var(--radius-small) var(--radius-small);
    border-bottom: none;
}


/* Bottom navbar */
.bottom-navbar {
    width: 100vw;
    bottom: 0;
    left: 0;
    position: fixed;
    background-color: white;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    display: none;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    z-index: 1001;
    border-top: 1px solid rgb(var(--color-gray-1));
}

.bottom-navbar a {
    padding: 1rem 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .2rem;
}

.bottom-navbar a.active svg {
    stroke-width: 2;
    stroke: rgb(var(--color-blue-primary));
}

.bottom-navbar a span {
    display: none;
}

.bottom-navbar a.active span {
    display: block;
}

@media only screen and (max-width: 728px) {
    .bottom-navbar {
        display: flex;
    }
}