
.opinion-card {
    display: flex;
    flex-direction: column;
}

/* Header */
.opinion-card header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.opinion-card header div:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.opinion-card header.not-read {
    border-radius: var(--radius-medium);
    background: rgba(var(--color-purple-primary), .1);
}

.opinion-card header.not-read .avatar .image-container {
    box-shadow: 0 0 0 2px rgb(var(--color-purple-primary));
}

/* Stars */
.opinion-card-stars {
    display: flex;
    gap: 0.5rem;

    color: rgb(var(--color-gray-4));
}

/* Photos */
.opinion-card-photos {
    height: 200px;
    border-radius: var(--radius-medium);
    overflow-x: scroll;
    display: flex;
    gap: 0.5rem;
}

.opinion-card-photos::-webkit-scrollbar {
    display: none;
}

.opinion-card-photos img {
    object-fit: cover;
    border-radius: var(--radius-medium);
}


/* Opinion own by user */
.opinion-card.user-own {
    padding: 1rem;
    border: 1px solid rgb(var(--color-gray-1));
    border-bottom: 1px solid rgb(var(--color-gray-1)) !important;
    border-radius: var(--radius-medium);
}