/* Generic style of stars */

.stars {
    display: flex;
    gap: .3rem;
}

.star {
    width: 1.2rem;
    height: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgb(var(--color-gray-1));
}

.star.fill {
    background: rgb(var(--color-orange-secondary));
}

.star.half-fill {
    background: linear-gradient(to left, rgb(var(--color-gray-1)) 50%, rgb(var(--color-orange-secondary)) 50%);
}

.star svg {
    position: absolute;
    fill: white;
}