
x-tabs {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

x-tabs xtab {
    flex-basis: 100%;
}

x-tab {
    background: white;
    padding: 1rem 2rem;
    border-bottom: 2px solid rgb(var(--color-gray-2));

    transition: border .2s;
}

x-tab[selected] {
    border-bottom: 2px solid rgb(var(--color-blue-primary));
}

x-tabs:not(:defined),
x-tab:not(:defined),
x-panel:not(:defined) {
    display: block;
}

/* Vertical tabs */
x-tabs.column {
    flex-direction: row;
}

x-tabs.column x-tab,
.tab-button {
    --color: var(--color-blue-primary);
    display: flex;
    gap: 1rem;
    border: none;
    position: relative;
    border-radius: var(--radius-small);
    display: flex;
    align-items: center;
    padding: 1rem 2rem 1rem 1rem;
    cursor: pointer;
}

x-tabs.column x-tab svg,
.tab-button svg {
    stroke-width: 1.5;
    width: 2rem;
}

x-tabs.column x-tab[selected],
.tab-button[selected] {
    background: rgba(var(--color), .1);
    font-weight: 700;
}

x-tabs.column x-tab:hover,
.tab-button:hover {
    background: rgba(var(--color), .05);
}

x-tabs.column x-tab::before,
.tab-button::before {
    content: "";
    width: 3px;
    height: 80%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

x-tabs.column x-tab[selected]::before,
.tab-button[selected]::before {
    background: rgb(var(--color));
    border-radius: var(--radius-rounded);
}

.tab-button.pro {
    --color: var(--color-purple-primary);
}
